/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #FFF1F7;
  --background-image: url('../images/cover-image-light.png');

  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;

  --paragraph-text-color: #353430;
  --a-color: #353430;

  --section-text-color: #353430;
  --corners-color: #353430;

  --decription-color: #FF8DCB;
  --decription-text-color: #353430;

  --footer-text-color: #FFC2E6;
  --footer-stroke-color: #FF8DCB;
  --footer-shadow-color: #FF8DCB;

  --button-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --text-color: #2d2c2c;
}

:root.theme-light .header__rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --background-image: url('../images/cover-image-light.png');

    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;

    --paragraph-text-color: #353430;
    --a-color: #353430;

    --section-text-color: #353430;
    --corners-color: #353430;

    --decription-color: #FF8DCB;
    --decription-text-color: #353430;

     --footer-text-color: #FFC2E6;
     --footer-stroke-color: #FF8DCB;
     --footer-shadow-color: #FF8DCB;

     --button-color: #353430;
     --button-hover-color: rgb(50 49 45 / 0.4);
     --text-color: #2d2c2c;
  }
  .header__rec {
    display: none;
  }
}
